#header {
    background-color: #00FF00;
    height: 125px;
    background: url("http://wobbals.github.io/jenkins-isotope-style/headshot.png") 0 0 no-repeat;
}

#jenkins-name-icon {
    display: none;
}

#jenkins-head-icon {
    display: none;
}