body {

}

h1, h2, h3, h4, h5, h6 {
  color: #4f7b94; }

#header {
    background-color: #00FF00;
    height: 125px;
    background: url("https://wobbals.github.io/jenkins-isotope-style/carlos-headshot.png") 0 0 no-repeat;
}

#page-head {
    background-color: #000000;
}

#jenkins-name-icon {
    display: none;
}

#jenkins-head-icon {
    display: none;
}